[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
setuptools-scm = "*"
pre-commit = "*"
mypy = "*"
types-requests = "*"
typing-extensions = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-simplify = "*"
pep8-naming = "*"
pytest = "*"
pytest-env = "*"
pytest-cov = "*"
tomli = "*"
types-retry = "*"
types-pytz = "*"
types-python-dateutil = "*"

[packages]
exceptiongroup = "*"
click = "*"
requests = "*"
retry = "*"
pandas = "*"
rich = "*"
"mastodon.py" = "*"
fastparquet = "*"

[requires]
python_version = "3.11"
